.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 background: linear-gradient(135deg, #1A0D00, #000000);
;
}
.login-card{
    width: 400px;
    background-color: #0D0D0D;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dish-logo{
    height: 100px;
    width: 100px;
}
label{
    margin-top: 10px;
    text-align: left;
    display: block;
}
.input-field{
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
  background-color: #1f1f1f;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border:none;
}
.error-message{
    background: linear-gradient(145deg, rgba(212, 17, 43, 0.45), rgba(139, 0, 18, 0.35));
    opacity: 0.6;
    color: red;
    margin-top: 10px;
    text-align: left;
    border: 1px solid red;
    padding: 8px;
    /* background-color: #ffcccc; */
    border-radius: 4px;
}