.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0D0D0D;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header-button{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}